.home {
   display: flex;
   flex-direction: column;
   padding-left: 3em;
   padding-right: 3em;
}

.home-font {
   font-family: 'Ms Madi';
   text-align: left;
   font-size: 5em;
   padding-left: .5em;
}

.home-image {
   z-index: -1;
   position: relative;
}

.home-header {
   /* border: 2px solid red; */
   margin-top: 1em;
   /* background-color: rgba(128, 128, 128, 0.493); */
}

.home-body {
   border: 2px solid pink;
   margin-top: 1em;
}

.home-footer {
   border: 2px solid blue;
   margin-top: 1em;
}