.home {
   display: flex;
   /* flex-direction: column; */
   padding-left: 8em;
   /* padding-right: 3em; */
   justify-content: baseline;
   align-items: center;
   /* float: left; */
}

.home-font {
   font-family: 'Ms Madi';
   text-align: left;
   font-size: 5em;
   padding-left: .5em;
}

.home-image {
   z-index: -1;
   width: 50em;

   /* position: relative; */
}

.home-button {
   background-color: white;
   border: 1px solid black;
   border-radius: .5em;
   height: 2em;
   width: 8em;
}

.home-header {
   /* border: 2px solid red; */
   /* margin-top: 1em; */
   margin-top: 20em;
   /* align-items: left; */
   justify-content: left;
   /* background-color: rgba(128, 128, 128, 0.493); */
}

.home-body {
   /* border: 2px solid pink; */
   margin-top: 1em;
}

.home-welcome {
   padding-top: 4em;
   height: 10em;
}

.start-button {
   background-color: rgba(136, 136, 231, 0.496);
   color: white;
}

/* .home-footer {
   border: 2px solid blue;
   margin-top: 1em;
} */